<div class="notification mt-4 mb-0 is-primary has-text-weight-bold is-size-5 py-2">Edit Post</div>

<div class="card mt-4" id="{{post.id}}">
  <div class="field">
    <p class="control has-icons-left has-icons-right">
      <input class="input" type="text" value="{{post.title}}" id="postTitle">
      <span class="icon is-small is-left">
        <i class="fas fa-heading"></i>
      </span>
    </p>
  </div>
  <div class="field">
    <div class="control">
      <textarea class="textarea" id="postBody">{{post.body}}</textarea>
    </div>
  </div>
</div>
<div class="field mt-4">
  <p class="control">
    <button class="button is-success" id="edit-post-submit" data-id="{{post.id}}">
      Update Post
    </button>
  </p>
</div>
<div class="field mt-4">
  <p class="control">
    <button class="button is-dark" id="cancel-post-submit" data-id="{{post.id}}">
      Cancel
    </button>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-danger" id="delete-post-submit" data-id="{{post.id}}">
      Delete Post
    </button>
  </p>
</div>

<script src="/js/editPosts.js"></script>