
<div class="card mt-4" id="{{post.id}}">
  <header class="card-header is-justify-content-space-between has-background-warning">
    <div>
      <p class="card-header-title">
        {{post.title}}
      </p>
    </div>
    <div>
      <p class="card-header-title is-italic has-text-weight-normal">
        By: {{post.user.username}} on {{format_date post.date_created}}
      </p>
    </div>
  </header>
  <div class="card-content has-background-warning-light">
    <div class="content">
      {{post.body}}
    </div>
  </div>
</div>

{{#if comments}}
<div class="container is-fluid">
  <div class="notification mt-4 mb-0 is-primary has-text-weight-bold is-size-5 py-2">Comments</div>
  {{#each comments}}
  <div class="card mt-2">
    <header class="card-header is-justify-content-end"> 
      <div>
        <p class="card-header-title is-italic has-text-weight-normal">
          By: {{user.username}} on {{ format_date date_created}}
        </p>
      </div>
    </header>
    <div class="card-content">
      <div class="content">
        {{body}}
      </div>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

{{#if logged_in}}
<div class="container is-fluid">
  <div class="field mt-2">
    <label class="label">Add a comment</label>
    <div class="control">
      <textarea class="textarea" placeholder="Comment" rows="4" id="commentBody"></textarea>
    </div>
  </div>
  <div class="field">
    <p class="control">
      <button class="button is-success" data-post-id="{{post.id}}" id="comment-submit-btn">
        Submit
      </button>
    </p>
  </div>
</div>
<script src="/js/postComment.js"></script>
{{/if}}